
.vs/MultiSourceProject/v15/.suo

.vs/MultiSourceProject/v15/Server/sqlite3/storage.ide

.vs/MultiSourceProject/v15/Server/sqlite3/storage.ide-shm

.vs/MultiSourceProject/v15/Server/sqlite3/storage.ide-wal

MultiSourceProject/bin/Debug/Evaluator.dll

MultiSourceProject/bin/Debug/MultiSourceProject.exe

.vs/MultiSourceProject/v15/.suo

MultiSourceProject/bin/Debug/MultiSourceProject.exe.config

MultiSourceProject/bin/Debug/MultiSourceProject.pdb

MultiSourceProject/bin/Debug/PrivateNugetMath.dll

MultiSourceProject/obj/Debug/MultiSourceProject.csproj.CopyComplete

MultiSourceProject/obj/Debug/MultiSourceProject.csproj.CoreCompileInputs.cache

MultiSourceProject/obj/Debug/MultiSourceProject.csproj.FileListAbsolute.txt

MultiSourceProject/obj/Debug/MultiSourceProject.csprojResolveAssemblyReference.cache

MultiSourceProject/obj/Debug/MultiSourceProject.exe

MultiSourceProject/obj/Debug/MultiSourceProject.pdb

MultiSourceProject/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs

MultiSourceProject/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs

MultiSourceProject/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs

packages/Evaluator.1.0.0.6/Evaluator.1.0.0.6.nupkg

packages/Evaluator.1.0.0.6/lib/Evaluator.dll

packages/PrivateNugetMath.1.0.0/PrivateNugetMath.1.0.0.nupkg

packages/PrivateNugetMath.1.0.0/lib/net462/PrivateNugetMath.dll

.vs/MultiSourceProject/v15/.suo

.vs/MultiSourceProject/v15/.suo

.vs/MultiSourceProject/v15/Server/sqlite3/storage.ide
